<mat-card>
    <mat-card-title>Verify Email</mat-card-title>
    <mat-card-actions>
        <button mat-button color="secondary-color" (click)="sendEmail()">Send Verification Email</button>
    </mat-card-actions>
    <mat-list>
        <mat-list-item>Check your inbox for an email from us.</mat-list-item>
        <mat-list-item>Click the link in the email.</mat-list-item>
        <mat-list-item>Once you've been redirected, your email is then verified</mat-list-item>
        <mat-list-item>If you haven't received any mail from us in your inbox, please check your spam.</mat-list-item>
        <mat-list-item>If there still isn't any mail from us in your spam then please contact support here.</mat-list-item>
    </mat-list>
</mat-card>>
