<section fxLayout="column" fxFlexAlign="stretch"> 
  <mat-tab-group animationDuration="1000ms" mat-align-tabs="center" fxFlexAlign="center stretch">
    <mat-tab fxFlex label="Dash-Camera"> 
      <p>Why spend money buying expensive dash-cams when you can just download one on your mobile?</p> 
      <p>Drive with the reassurance that in the event of an accident you have evidence, even if your phone is damaged/broken during the incident</p> 
    </mat-tab>
    <mat-tab fxFlex label="Cloud storage">
      <p>Don't worry about using up all your phone's memory. All your recordings will be saved to our cloud storage.</p>
    </mat-tab>
    <mat-tab fxFlex label="Route Guidance">
      <p>Avoid getting lost by using our maps guidance system.</p>
    </mat-tab>
    <mat-tab fxFlex label="Speed Camera Detection">
      <p>In a hurry and want to avoid police checkpoints and speed cameras?</p>
      <p>Our image recognition software is installed on all users' apps and crowd sources speed cameras and checkpoints in almost realtime.</p>
    </mat-tab>
  </mat-tab-group>
</section>