 <mat-nav-list>
    <a mat-list-item>
            <mat-icon fxFlex fxLayoutAlign="end" (click)="onCloseClicked()">close</mat-icon>
    </a>

    <a mat-list-item (click)="onMenuItemClicked()" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item (click)="onMenuItemClicked()" routerLink="/offerings">
        <mat-icon>local_offer</mat-icon>
        <span class="nav-caption">Offerings</span>
    </a>
    <a mat-list-item disabled="true" matTooltip=" Currently unavailable">
        <mat-icon>live_tv</mat-icon>
        <span class="nav-caption">Watch Live</span>
    </a>
    <a mat-list-item (click)="onMenuItemClicked()" routerLink="/recordings">
        <mat-icon>video_library</mat-icon>
        <span class="nav-caption">Recordings</span>
    </a>
    <a mat-list-item  (click)="onMenuItemClicked()"routerLink="/terms">
        <mat-icon>description</mat-icon>
        <span class="nav-caption">T's & C's</span>
    </a>
    <a mat-list-item  (click)="onMenuItemClicked()"routerLink="/privacy-policy">
        <mat-icon>security</mat-icon>
        <span class="nav-caption">Privacy Policy</span>
    </a>
</mat-nav-list>
