@use '../../../styles.scss' as styles;

a{
    text-decoration: none;
    color: white;
}
.nav-caption{
  display: inline-block;
  padding-left: 6px;
  color: var(--sys-primary);

}

.close-icon{
  float: right;
}
.close-icon:hover{
  border-radius: 50%;
  background-color: var(--sys-secondary-container); //#edeef0;
}
mat-icon{
  color: var(--sys-error);//styles.$secondary-icon-colour;
}
@media(max-width: 959px){
  .mat-toolbar{
      border-radius: 0px;
  }
}
