@import '../../../styles.scss';

a{
    text-decoration: none;
    color: white;
}
.nav-caption{
  display: inline-block;
  padding-left: 6px;
  // color: $tertiary-color-light;
}

mat-icon{
  // color: $tertiary-color-light;
}
@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
