@import '../../../theme.scss';

a{
    text-decoration: none;
    color: white;
}
.nav-caption{
  display: inline-block;
  padding-left: 6px;
  color: $warn-color;
}
.profiler {
    background-color: transparent;
}
mat-icon{
  color: $warn-color;
}
@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
