<mat-toolbar fxFlex color="accent">
    <div fxFlex fxLayoutAlign="start" >
        <button  mat-icon-button  *ngIf="!isOpened" (click)="onOpenSidenav()">
            <!-- <mat-icon>{{ isOpened ? 'arrow_back' : 'menu'}}</mat-icon> -->
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxLayoutAlign="center" fxFlex>
        <div class="title" routerLink="/home">
            <img class="icon">
        </div>
        <div class="title" routerLink="/home" fxShow fxHide.lt-md>
            <h1>LightHouse</h1>
        </div>
    </div>


    <!-- <div fxFlex fxShow fxHide.lt-md fxLayoutAlign="end" color="accent">
        <a (click)="onToggleLogin()">{{(authService.isLoggedIn) ? 'Logout' : 'Login'}}</a>
    </div> -->
    <div class="title-icon" fxFlex fxLayoutAlign="end" >
        <mat-icon *ngIf="authService.isLoggedIn" mat-button [matMenuTriggerFor]="menu">account_circle</mat-icon>
        <mat-icon *ngIf="!authService.isLoggedIn" (click)="login()">login</mat-icon>
        <mat-menu #menu>
          <button mat-menu-item routerLink="/account">Account</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>
