<mat-toolbar fxFlex color="#80d6ff">
    <div fxFlex fxLayoutAlign="start" >
        <button  mat-icon-button  *ngIf="!isOpened" (click)="onOpenSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxLayoutAlign="center" fxFlex>
        <div class="title" routerLink="/home">
            <img class="icon">
        </div>
        <div class="title" routerLink="/home" fxShow fxHide.lt-md>
            <h1>LightHouse</h1>
        </div>
    </div>
    <div class="title-icon" fxFlex fxLayoutAlign="end" >
      <button mat-icon-button *ngIf="authService.isLoggedIn" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!authService.isLoggedIn" (click)="login()">
        <mat-icon>login</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item routerLink="/account">Account</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
</mat-toolbar>
