<app-layout>
  <app-header [isOpened]="sidenav.opened" (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container autosize>

    <mat-sidenav #sidenav  mode="side" opened="true">
      <app-sidenav-list></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <app-header [isOpened]="sidenav.opened" (sidenavToggle)="sidenav.toggle()"></app-header> -->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
