<app-layout>
  <!-- <app-header [isOpened]="sidenav.opened" (sidenavToggle)="sidenav.toggle()"></app-header> -->
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav opened hasBackdrop="false" [mode]="isSmallScreen ? 'over' : 'side'">
      <app-sidenav-list (sidenavClose)="sidenav.toggle()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header [isOpened]="sidenav.opened" (sidenavOpen)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
