<section fxLayout="column" fxFlexAlign="stretch">
  <mat-tab-group preserveContent  animationDuration="1000ms" mat-align-tabs="center" fxFlexAlign="center stretch">
    <mat-tab fxFlex label="Dash-Camera">
      <mat-card>
        <mat-card-header>
          <div class="images">
            <img class="logo" src="../../assets/ic_launcher-playstore.png">
            <img class="logo" src="../../assets/google-play-badge.png">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>Why spend money buying expensive dash-cams when you can just download one on your mobile?</p>
          <p>Drive with the reassurance that in the event of an accident you have evidence, even if your phone is damaged/broken during the incident</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab fxFlex label="Mobile Apps & Websites">
      <mat-card>
        <mat-card-header>
          <div class="images">
            <img src="../../assets/app-dev.png">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>Build high quality apps</p>
          <p>something about app dev</p>
          <p>Email <a href="mailto: lighthousemobileapps@gmail.com">lighthousemobileapps&#64;gmail.com</a> to get a quote</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab fxFlex label="Software Contracting">
      <mat-card>
        <mat-card-header>
          <div class="images">
            <img src="../../assets/contracting.jpg">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>Is your dev team short staffed?</p>
          <p>I'm available for contract work as a software developer</p>
          <p>Email <a href="mailto: lighthousemobileapps@gmail.com">lighthousemobileapps&#64;gmail.com</a> to arrange a meeting.</p>
          <p>Daily Rate: €400</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</section>
