<section fxLayout="column" fxFlexAlign="stretch">
  <mat-tab-group preserveContent  animationDuration="1000ms" mat-align-tabs="center" fxFlexAlign="center stretch">
    <mat-tab fxFlex label="App Development">
      <mat-card>
        <mat-card-header>
          <div class="images">
            <img src="../../assets/app-dev.png">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>Have an idea for a mobile app?</p>
          <p>We specialise in developing cross-platform mobile apps.</p>
          <p>We'll design and build your app, incorporating the latest tech, an aesthetic design, and a pleasent user experience for your users.</p>
          <p>Email <a href="mailto: lighthousemobileapps@gmail.com">lighthousemobileapps&#64;gmail.com</a> to get a quote.</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab fxFlex label="App Consultancy">
      <mat-card>
        <mat-card-header>
          <div class="images">
            <img src="../../assets/contracting.jpg">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>Need a hand with your mobile application?</p>
          <p>Hire our app development expertese to accelerate your app's delivery.</p>
          <p>Email <a href="mailto: lighthousemobileapps@gmail.com">lighthousemobileapps&#64;gmail.com</a> to arrange a free initial consultation.</p>
          <p>Hourly Rate: €50</p>
        </mat-card-content>
      </mat-card>
    </mat-tab><mat-tab fxFlex label="Our Apps">
      <mat-card>
        <mat-card-header>
          <div class="images">
            <!-- <img class="logo" src="../../assets/ic_launcher-playstore.png"> -->
            <a class="google-play" fxFlex fxLayoutAlign="center" target="_blank" href="https://play.google.com/store/apps/details?id=com.lighthousemobileapps.lighthousedashcam&hl=en-US">
              <img src="../../assets/google-play-badge.png">
            </a>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>Why spend money buying expensive dash-cams when you can just download one on your mobile?</p>
          <p>Drive with the reassurance that the LightHouse Dash-Cam will vindicate you in the event of a car traffic incident.</p>
          <p>Download the app on the <a target="_blank" href="https://play.google.com/store/apps/details?id=com.lighthousemobileapps.lighthousedashcam&hl=en-US">Google Play Store <mat-icon>open_in_new</mat-icon></a>.</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>
</section>
