@use "@angular/material" as mat;

@mixin theme($theme) {
  .sidenav-scroll-wrapper {
    background-color: mat.get-theme-color($theme, primary);
  }
  .mat-icon{
    color: mat.get-theme-color($theme, primary, 100);
  }
  .mat-toolbar {
    background: mat.get-theme-color($theme, primary, 80);
    color: mat.get-theme-color($theme, primary, 100);;
  }
  .mat-toolbar h1{
    font-family: 'Lora';
    font-weight: 800;
    font-size: 40px;
  }
  .mat-nav-list a{
    color: mat.get-theme-color($theme, primary, 40);
  }
  // .mat-sidenav {
  //   top: 64px;
  // }

  .sidenav-content {
    background:
      linear-gradient(to bottom ,
      #ffffff 80%,
      mat.get-theme-color($theme, primary, 90) 90%,
      mat.get-theme-color($theme, primary, 80) 95%,
      mat.get-theme-color($theme, primary, 70) 100%);



    @media (pointer: fine) {
      &::-webkit-scrollbar-thumb {
        background-color: mat.get-theme-color($theme, primary);
      }
    }
  }
}
