<div class="container">
  <h1>Terms and Conditions for LightHouse</h1>
  <br />
  <h2>Purpose of this document</h2>

  <p>
    These Terms and Conditions govern your use of LightHouse, an android mobile
    application. By using LightHouse, you agree to be bound by these Terms and
    Conditions.
  </p>

  <h2>Data Protection</h2>

  <p>
    We are committed to protecting your privacy and complying with the General
    Data Protection Regulation (GDPR). This section of the Terms and Conditions
    explains how we collect, use, and disclose your personal data.
  </p>

  <h2>Personal Data we collect</h2>

  <p>We collect the following categories of personal data from you:</p>

  <ul>
    <li>Information you provide to us</li>
    <li>Information we collect automatically</li>
    <li>Information from third-party sources</li>
  </ul>

  <h2>How we use your personal data</h2>

  <p>We use your personal data for the following purposes:</p>

  <ul>
    <li>To provide you with the services you request</li>
    <li>To improve our services</li>
    <li>To communicate with you</li>
    <li>To comply with legal obligations</li>
    <li>To protect our rights and interests</li>
  </ul>

  <h2>Disclosure of your personal data</h2>

  <p>
    We do not sell your personal data to third parties. We may disclose your
    personal data to third parties in the following circumstances:
  </p>

  <ul>
    <li>To service providers</li>
    <li>To comply with legal obligations</li>
  </ul>

  <h2>Your rights</h2>

  <p>You have the following rights regarding your personal data:</p>

  <ul>
    <li>Access</li>
    <li>Rectification</li>
    <li>Erasure</li>
    <li>Restriction of processing</li>
    <li>Objection to processing</li>
    <li>Data portability</li>
    <li>Withdrawal of consent</li>
  </ul>

  <h2>How to exercise your rights</h2>

  <p>
    To exercise any of your rights, please contact us at
    <a href="mailto: lighthousemobileapps@gmail.com"
      >lighthousemobileapps&#64;gmail.com</a
    >
  </p>

  <h2>Changes to these Terms and Conditions</h2>

  <p>
    We may change these Terms and Conditions from time to time. If we make any
    material changes, we will notify you by email or through LightHouse and
    provide you with an opportunity to review the changes before they become
    effective.
  </p>

  <h2>Contact us</h2>

  <p>
    If you have any questions about these Terms and Conditions, please contact
    us at
    <a href="mailto: lighthousemobileapps@gmail.com"
      >lighthousemobileapps&#64;gmail.com</a
    >
  </p>
</div>
