video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}


.header-container{
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  justify-content: center;
}

.return{
  position: relative;
  align-self: center;
}

video:-webkit-full-page-media {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
