<div>
  <h1>Privacy Policy for LightHouse</h1>
  <br />
  <br />
  <div>
    <h2>Introduction</h2>
    <br />
    <div>
      Your privacy is important to us. This Privacy Policy explains how
      LightHouse, an android mobile application, collects, uses, and discloses
      your personal information. By using LightHouse, you agree to the
      collection, use, and disclosure of your personal information as described
      in this Privacy Policy.
    </div>
    <br />
    <h2>What Information We Collect</h2>
    <br />
    <div>
      LightHouse collects various types of personal information from you,
      including:
    </div>
    <br />
    <div>
      User video data: When you use LightHouse to record or share videos, we may
      collect and store the video data.
    </div>
    <br />
    <div>
      Personal data: When you create an account or use certain features of
      LightHouse, we may collect your personal data, such as your name, age,
      gender, and vehicle information.
    </div>
    <br />
    <h2>How We Use Your Information</h2>
    <br />
    <div>We use your personal information for the following purposes:</div>
    <br />
    <div>
      To provide and improve LightHouse: We use your information to provide and
      improve LightHouse, including:
    </div>
    <br />
    <div>Storing and managing your user profile and preferences</div>
    <div>Enabling you to record, share, and view videos</div>
    <div>Providing you with customer support</div>
    <div>
      To personalize your experience: We use your information to personalize
      your experience with LightHouse, including:
    </div>
    <br />
    <div>Recommending videos and features that may be of interest to you</div>
    <div>
      Tailoring the app's interface and functionality to your preferences
    </div>
    <div>
      To analyze usage and improve our products: We use your information to
      analyze how you use LightHouse, to identify trends, and to improve our
      products and services.
    </div>
    <br />
    <div>
      To comply with laws and regulations: We may use your information to comply
      with applicable laws and regulations, such as those related to data
      security and privacy.
    </div>
    <br />
    <div>
      To protect our rights and interests: We may use your information to
      protect our rights and interests, such as detecting and preventing fraud.
    </div>
    <br />
    <h2>How We Share Your Information</h2>
    <br />
    <div>
      We may share your personal information with the following third parties:
    </div>
    <br />
    <div>
      Service providers: We may share your information with third-party service
      providers who help us operate and improve LightHouse, such as cloud
      storage providers and analytics providers.
    </div>
    <br />
    <div>
      Business partners: We may share your information with our business
      partners who offer products or services that may be of interest to you.
    </div>
    <br />
    <div>
      Law enforcement and other government agencies: We may disclose your
      information to law enforcement or other government agencies if required by
      law or if we believe disclosure is necessary to protect our rights or
      interests or to comply with a legal process.
    </div>
    <br />
    <h2>Your Choices</h2>
    <br />
    <div>
      You have the following choices regarding your personal information:
    </div>
    <br />
    <div>
      Access and control: You can access and control your personal information
      by logging into your LightHouse account and reviewing your profile
      information. You can also request to delete or update your personal
      information.
    </div>
    <br />
    <div>
      Opt-out of marketing: You can opt out of receiving marketing
      communications from us by clicking on the unsubscribe link in any
      marketing email you receive from us.
    </div>
    <br />
    <div>
      Data portability: You have the right to obtain a copy of your personal
      information in a structured, commonly used, and machine-readable format.
      You can also request that we transfer your personal information to another
      organization, if technically feasible.
    </div>
    <br />
    <h2>Data Security</h2>
    <br />
    <div>
      We take reasonable measures to protect your personal information from
      unauthorized access, use, disclosure, alteration, or destruction. These
      measures include:
    </div>
    <br />
    <div>
      Physical and technical security: We store your personal information on
      secure servers and take physical and technical measures to protect it from
      unauthorized access.
    </div>
    <br />
    <div>
      Access controls: We restrict access to your personal information to
      authorized employees and contractors who need it to perform their jobs.
    </div>
    <br />
    <div>
      Data breaches: We have procedures in place to detect, investigate, and
      respond to data breaches.
    </div>
    <br />
    <div>Data Retention</div>
    <div>
      We retain your personal information for as long as necessary to fulfill
      the purposes for which it was collected, or as required by law or
      regulation. We regularly review our data retention practices and delete or
      anonymize personal information that is no longer needed.
    </div>
    <br />
    <h2>Changes to This Privacy Policy</h2>
    <br />
    <div>
      We may update this Privacy Policy from time to time. If we make any
      material changes, we will notify you by email or by posting a notice on
      our website.
    </div>
    <br />
    <h2>Contact Us</h2>
    <br />
    <div>
      If you have any questions about this Privacy Policy, please contact us at:
    </div>
    <br />
    <div>
      Email:
      <a href="mailto: lighthousemobileapps@gmail.com"
        >lighthousemobileapps&#64;gmail.com</a
      >
    </div>
  </div>
</div>
