<mat-list>
  @for (folder of folders; track folder) {
    <mat-list-item>
      <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-icon matListIcon>folder</mat-icon>
          <mat-panel-title>
            {{folder.name}}
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          @for (recording of folder.recordings; track recording){
            <mat-list-item>
              <mat-icon matListIcon>movie</mat-icon>
              <h4 matListItemTitle>{{recording.name}}</h4>
              <p matListItemLine class="demo-2"> {{recording.updated}} </p>
            </mat-list-item>
          }
        </mat-list>
      </mat-expansion-panel>
    </mat-list-item>
  }
</mat-list>
