<div class="container">
  <ng-container *ngFor="let directory of directories">
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>folder</mat-icon>
          <span >{{directory.title}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item  *ngFor="let recording of directory.recordings">
            <mat-icon>movie</mat-icon>
            <span >{{recording.name}}</span>
            <a class="download" [href]="recording.cloudPath" [download]="recording.name">
              <mat-icon>download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
  </ng-container>
</div>
