@import '../../../theme.scss';


.folder-icon{
  margin-right: 5px;
}
mat-icon{
  color: $warn-color;
}
mat-list-item{
  cursor: pointer !important;
}
mat-list-item:hover{
  background-color: rgba(0, 0, 0, 0.04);
}
