/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@use "../m3-theme";
@use "./app/layout/layout-component.theme";


@include mat.core();

// :root{
//   @include mat.all-component-themes(m3-theme.$light-theme);
// }
// Light Theme created by ng generate @angular-material:m3-theme
$theme: m3-theme.$light-theme;

// Dark theme
// Un-comment below to use dark theme using @angular/material
// $dark-theme: $angular-material-3-dark-theme;

// Dark Theme created by ng generate @angular-material:m3-theme
$dark-theme: m3-theme.$dark-theme;
:root {
  @include mat.all-component-themes($theme);

  // Components themes
  @include layout-component.theme($theme);

  // Add backwards compatibility styles for color variants
  // @include mat.color-variants-backwards-compatibility($theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);

    // Components themes
    @include layout-component.theme($dark-theme);

    @include mat.color-variants-backwards-compatibility($dark-theme);
  }
}
html {
  // Apply the light theme by default
  @include mat.all-component-themes($theme);
  @include layout-component.theme($theme);

  @include mat.core-theme($theme);
  @include mat.button-theme($theme);
  // When using system variables, remember to provide values for them
  // or uncomment the lines below to generate them from the theme.
  @include mat.system-level-colors($theme);
  // @include mat.system-level-typography(my-theme.$light-theme);
}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary-icon-colour: mat.get-theme-color($theme, primary, 40);
$secondary-icon-colour: mat.get-theme-color($theme, secondary, 60);

// $primary-color-dark: mat.get-theme-color($_dark-theme, primary, 50);
// $primary-color-light: #80d6ff;
// $secondary-color-dark: mat.get-theme-color($_dark-theme, primary, 20);
// $secondary-color-light: #edf798;
// $tertiary-color-light: #f06868;
// $tertiary-color-dark: mat.get-theme-color($_dark-theme, tertiary, 60);
// $on-white-text-color: mat.get-theme-color($_dark-theme, primary, 40);
