/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@use "../m3-theme";
@use "./app/layout/layout-component.theme";


@include mat.core();

// :root{
//   @include mat.all-component-themes(m3-theme.$light-theme);
// }
// Light Theme created by ng generate @angular-material:m3-theme
$theme: m3-theme.$light-theme;

// Dark theme
// Un-comment below to use dark theme using @angular/material
// $dark-theme: $angular-material-3-dark-theme;

// Dark Theme created by ng generate @angular-material:m3-theme
$dark-theme: m3-theme.$dark-theme;
:root {
  @include mat.all-component-themes($theme);

  // Components themes
  @include layout-component.theme($theme);

  // Add backwards compatibility styles for color variants
  // @include mat.color-variants-backwards-compatibility($theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);

    // Components themes
    @include layout-component.theme($dark-theme);

    @include mat.color-variants-backwards-compatibility($dark-theme);
  }
}
html {
  // Apply the light theme by default
  @include mat.all-component-themes($theme);
  @include layout-component.theme($theme);

  @include mat.core-theme($theme);
  @include mat.button-theme($theme);
  // When using system variables, remember to provide values for them
  // or uncomment the lines below to generate them from the theme.
  @include mat.system-level-colors($theme);
  // @include mat.system-level-typography(my-theme.$light-theme);
}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary-icon-colour: mat.get-theme-color($theme, primary, 40);
$secondary-icon-colour: mat.get-theme-color($theme, secondary, 60);

:root,:host{--sys-background:#f5fafb;--sys-on-background:#006686;--sys-surface:#f5fafb;--sys-surface-dim:#d5dbdc;--sys-surface-bright:#f5fafb;--sys-surface-container-lowest:#ffffff;--sys-surface-container-low:#eff5f6;--sys-surface-container:#e9eff0;--sys-surface-container-high:#e3e9ea;--sys-surface-container-highest:#dee3e5;--sys-on-surface:#171d1e;--sys-surface-variant:#dbe4e6;--sys-on-surface-variant:#3f484a;--sys-inverse-surface:#2b3133;--sys-inverse-on-surface:#ecf2f3;--sys-outline:#6f797a;--sys-outline-variant:#bfc8ca;--sys-shadow:#000000;--sys-scrim:#000000;--sys-surface-tint:#1e6586;--sys-primary:#43C2FF;--sys-on-primary:#ffffff;--sys-primary-container:#80D6FF;--sys-on-primary-container:#001e2d;--sys-inverse-primary:#90cef4;--sys-secondary:#ec6565;--sys-on-secondary:#ffffff;--sys-secondary-container:#ffdad8;--sys-on-secondary-container:#3b080b;--sys-tertiary:#EDF798;--sys-on-tertiary:#1a1e00;--sys-tertiary-container:#e0e994;--sys-on-tertiary-container:#1a1e00;--sys-error:#750101;--sys-on-error:#ffffff;--sys-error-container:#ffdad5;--sys-on-error-container:#3b0905;--sys-neutral:#727879;--sys-neutral-variant:#6f797b;--sys-primary-fixed:#c5e7ff;--sys-primary-fixed-dim:#90cef4;--sys-on-primary-fixed:#001e2d;--sys-on-primary-fixed-variant:#004c6a;--sys-secondary-fixed:#ffdad8;--sys-secondary-fixed-dim:#ffb3b0;--sys-on-secondary-fixed:#3b080b;--sys-on-secondary-fixed-variant:#733332;--sys-tertiary-fixed:#e0e994;--sys-tertiary-fixed-dim:#c4cd7b;--sys-on-tertiary-fixed:#1a1e00;--sys-on-tertiary-fixed-variant:#444b04;--sys-inverse-secondary:#ffb3b0;--sys-inverse-tertiary:#c4cd7b;--sys-inverse-error:#ffb4a8;--sys-error-fixed:#ffdad5;--sys-error-fixed-dim:#ffb4a8;--sys-on-error-fixed:#3b0905;--sys-on-error-fixed-variant:#73342b;}
// https://themes.angular-material.dev/?background=%23f5fafb&error=%23750101&error-container=%23ffdad5&error-fixed=%23ffdad5&error-fixed-dim=%23ffb4a8&inverse-error=%23ffb4a8&inverse-on-surface=%23ecf2f3&inverse-primary=%2390cef4&inverse-secondary=%23ffb3b0&inverse-surface=%232b3133&inverse-tertiary=%23c4cd7b&neutral=%23727879&neutral-variant=%236f797b&on-background=%23171d1e&on-error=%23ffffff&on-error-container=%233b0905&on-error-fixed=%233b0905&on-error-fixed-variant=%2373342b&on-primary=%23ffffff&on-primary-container=%23001e2d&on-primary-fixed=%23001e2d&on-primary-fixed-variant=%23004c6a&on-secondary=%23ffffff&on-secondary-container=%233b080b&on-secondary-fixed=%233b080b&on-secondary-fixed-variant=%23733332&on-surface=%23171d1e&on-surface-variant=%233f484a&on-tertiary=%231a1e00&on-tertiary-container=%231a1e00&on-tertiary-fixed=%231a1e00&on-tertiary-fixed-variant=%23444b04&outline=%236f797a&outline-variant=%23bfc8ca&primary=%2343C2FF&primary-container=%2380D6FF&primary-fixed=%23c5e7ff&primary-fixed-dim=%2390cef4&scrim=%23000000&secondary=%23ec6565&secondary-container=%23ffdad8&secondary-fixed=%23ffdad8&secondary-fixed-dim=%23ffb3b0&shadow=%23000000&surface=%23f5fafb&surface-bright=%23f5fafb&surface-container=%23e9eff0&surface-container-high=%23e3e9ea&surface-container-highest=%23dee3e5&surface-container-low=%23eff5f6&surface-container-lowest=%23ffffff&surface-dim=%23d5dbdc&surface-tint=%231e6586&surface-variant=%23dbe4e6&tertiary=%23EDF798&tertiary-container=%23e0e994&tertiary-fixed=%23e0e994&tertiary-fixed-dim=%23c4cd7b
