@use '@angular/material' as mat;

@include mat.core();

$primary-map-dark: (
    50 : #e7e7e7,
    100 : #c4c4c4,
    200 : #9c9c9c,
    300 : #747474,
    400 : #575757,
    500 : #393939,
    600 : #333333,
    700 : #2c2c2c,
    800 : #242424,
    900 : #171717,
    A100 : #ef7171,
    A200 : #ea4343,
    A400 : #fa0000,
    A700 : #e00000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$accent-map: (
  50 : #fc8a8d,
  100 : #fa3f44,
  200 : #f9090f,
  300 : #b60409,
  400 : #980407,
  500 : #7a0306,
  600 : #5c0205,
  700 : #3e0203,
  800 : #200102,
  900 : #020000,
  A100 : #ff7d80,
  A200 : #ff171d,
  A400 : #b00004,
  A700 : #960004,
  contrast: (
      50 : #000000,
      100 : #ffffff,
      200 : #ffffff,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$warning-map: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$primary-map-light: (
  50 : #ffffff,
  100 : #dddbdb,
  200 : #c1bfbf,
  300 : #9e9a9a,
  400 : #8f8b8b,
  500 : #807b7b,
  600 : #706c6c,
  700 : #615d5d,
  800 : #514e4e,
  900 : #423f3f,
  A100 : #fefcfc,
  A200 : #dbb9b9,
  A400 : #a98585,
  A700 : #928282,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);




$lighthouse-primary-dark: mat.define-palette($primary-map-dark, 500);
$lighthouse-primary-light: mat.define-palette($primary-map-light, 500);
$lighthouse-accent:  mat.define-palette($accent-map, 500);
$lighthouse-warn:    mat.define-palette($warning-map, 500);

$lighthouse-theme-dark: mat.define-dark-theme((
  color: (
    primary: $lighthouse-primary-dark,
    accent: $lighthouse-accent,
    warn: $lighthouse-warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
$lighthouse-theme-light: mat.define-light-theme((
  color: (
    primary: $lighthouse-primary-light,
    accent: $lighthouse-accent,
    warn: $lighthouse-warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
@include mat.all-component-themes($lighthouse-theme-light);
// @include mat.mat-button-theme($lighthouse-theme-dark);


$primary-color-dark: mat.get-theme-color($lighthouse-theme-dark, primary, 500);
$primary-color-light: mat.get-theme-color($lighthouse-theme-light, primary, 500);
$secondary-color-dark: mat.get-theme-color($lighthouse-theme-dark, primary, 200);
$secondary-color-light: mat.get-theme-color($lighthouse-theme-light, primary, 200);
$accent-color: mat.get-theme-color($lighthouse-theme-light, accent, 500);
$warn-color: mat.get-theme-color($lighthouse-theme-light, warn, 500);
