<!-- <carousel [objectFit]="'none'" [cellWidth]="'100%'"
  [height]=500 [loop]="true" [autoplay]="true"
  [arrows]="false" [dots]="true"
  [freeScroll]="false" [autoplayInterval]="2000"
  [transitionDuration]="250"
>
  <div class="carousel-cell">
      <img src="../../assets/lighthouse-road.jpeg">
  </div>
  <div class="carousel-cell">
      <img src="../../assets/car-phone-holder.jpeg">
  </div>
  <div class="carousel-cell">
      <img src="../../assets/speed-van.jpeg">
  </div>
</carousel> -->
<!-- <body> -->
  <div class="background">
    <ul class="list-container">
      <li>
        <div class="content">
          <a  href="https://play.google.com/store/search?q=lighthouse&c=apps">
            <img class="google-play">
          </a>
        </div>
        
      </li>
      <li>
        <div class="content">
          <a  href="https://apps.apple.com/ie/app/apple-store/id375380948">
            <img class="apple">
          </a>
        </div>
      </li>
    </ul>
    

  </div>
  
<!-- </body> -->

