@import '../../theme.scss';


.background {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/home-background-lighthouse.jpeg');
    display: flex;
    align-items: center;
    text-align: center;
}

.list-container {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li {
	text-align: center;
}

.content {
    align-content: center;
}

.google-play {
    margin-left: auto;
    margin-right: auto;
    display: block;
    content: url('../../assets/download-google-play.png');
}

.apple {
    content: url('../../assets/download-app-store.png');
}


