// @import '../../styles.scss';



.container{
  padding: 20px;
}

button{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logout-icon{
  color: var(--sys-primary) !important;
}
.delete-button{
  background-color: var(--sys-secondary) !important;
  color: var(--sys-on-secondary) !important;

}
.delete-icon{
  color: var(--sys-on-secondary) !important;
}

