<div
  class="container"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
>
  <!-- <div class="setting-item" fxLayout="row" fxLayoutAlign="space-between center" >
      <div >Dark Mode</div>
      <mat-slide-toggle></mat-slide-toggle>
    </div> -->
  <button
    mat-raised-button
    iconPositionEnd
    (click)="logout()"
  >
    Logout<mat-icon class="logout-icon">logout</mat-icon>
  </button>
  <button
    mat-raised-button
    iconPositionEnd
    class="delete-button"
    (click)="deleteAccount()"
  >
    Delete Account<mat-icon class="delete-icon">delete</mat-icon>
  </button>
</div>
