<div class="container" fxFlex fxFlexLayout="center">
  <div class="header">Watch Live</div>

  <video layout-fil controls autoplay >
    <source src="{{rtmpUrl}}"/>
  </video>
</div>



<!-- <vg-Player (onPlayerReady)="initPlayer($event)">
  <video #media [vgMedia]="$media" [vgDash]="stream" id="singleVideo" controls crossorigin>
  </video>
  <vg-controls>
    <vg-play-pause></vg-play-pause>
    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    <vg-mute></vg-mute>
    <vg-volume></vg-volume>
    <vg-fullscreen></vg-fullscreen>
  </vg-controls>
</vg-Player> -->
