<div class="container">
  <div class="header">Watch Live</div>
  <video controls preload="auto">
    <source src="url" type="rtmp/flv">
  </video>
</div>



<!-- <vg-Player (onPlayerReady)="initPlayer($event)">
  <video #media [vgMedia]="$media" [vgDash]="stream" id="singleVideo" controls crossorigin>
  </video>
  <vg-controls>
    <vg-play-pause></vg-play-pause>
    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    <vg-mute></vg-mute>
    <vg-volume></vg-volume>
    <vg-fullscreen></vg-fullscreen>
  </vg-controls>
</vg-Player> -->
